<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="journal">
            <h2><span>Journal</span> {{ journal.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Card Number</span></dt>
                <dd>
                    <span>{{ journal.trackingNumber }}</span>
                </dd>
                <dt><span>Reason</span></dt>
                <dd>
                    <span>{{ journal.reason }}</span>
                </dd>
                <dt><span>Resultcode</span></dt>
                <dd>
                    <span>{{ journal.resultcode }}</span>
                </dd>
                <dt><span>Message</span></dt>
                <dd>
                    <span>{{ journal.message }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ journal.date }}</span>
                </dd>
                <dt><span>Spare 1</span></dt>
                <dd>
                    <span>{{ journal.spare1 }}</span>
                </dd>
                <dt><span>Spare 2</span></dt>
                <dd>
                    <span>{{ journal.spare2 }}</span>
                </dd>
                <dt><span>Login</span></dt>
                <dd>
                    <span>{{ journal.login }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/journal', journal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
