<div>
    <h2 id="page-heading">
        <span>Journals</span>

        
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="journals?.length === 0">
        <span>No journals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="journals && journals.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="login"><span>Login</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cardNumber"><span>Card Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reason"><span>Reason</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="resultcode"><span>Resultcode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="message"><span>Message</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span>Date</span> <fa-icon icon="sort"></fa-icon></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let journal of journals ;trackBy: trackId">
                    <td>{{ journal.id }}</td>
                    <td>{{ journal.login }}</td>
                    <td>{{ journal.trackingNumber }}</td>
                    <td>{{ journal.reason }}</td>
                    <td>{{ journal.resultcode }}</td>
                    <td>{{ journal.message!.startsWith("Carte stop")? "Carte stoppée avec succès":"Carte débloquée avec succès"  }}</td>
                    <td>{{ journal.date | date:'medium' }}</td>
                   
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="journals && journals.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
