<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span>Transaction</span> {{ transaction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">





            </dl>
            <div class="row">
                <div class="col-3">
                    <dt><span>Transaction Id</span></dt>
                    <dd>
                        <span>{{ transaction.transactionId }}</span>
                    </dd>
                </div>
                <div class="col-3">
                    <dt><span>Transaction Type</span></dt>
                    <dd>
                        <span [ngSwitch]="transaction.transactionType">
                            <span *ngSwitchCase="00">Payment Marchand</span>
                            <span *ngSwitchCase="01">ATM</span>
                            <span *ngSwitchDefault></span>
                        </span>
                    </dd>
                </div>
                <div class="col-3">
                    <dt><span>Transaction Date</span></dt>
                    <dd>
                        <span>{{ transaction.transactionDate | date:'yyyy-MM-dd hh:mm:ss.SSS' }}</span>
                    </dd>
                </div>
                <div class="col-3">
                    <dt><span>Transaction Amount</span></dt>
                    <dd>
                        <span>{{ transaction.transactionAmount }}</span>
                    </dd>
                </div>
                <div class="col-3">
                    <dt><span>Transaction Data</span></dt>
                    <dd>
                        <span>{{ transaction.transactionData }}</span>
                    </dd>
                </div>
                <div class="col-3">

                    <dt><span>Reference</span></dt>
                    <dd>
                        <span>{{ transaction.reference }}</span>
                    </dd>
                </div>
                <div class="col-3">

                    <dt><span>Response Status Comviva</span></dt>
                    <dd>
                        <span>{{ transaction.responseStatusComviva }}</span>
                    </dd>
                </div>
                <div class="col-3">

                    <dt><span>Response Details Comviva</span></dt>
                    <dd>
                        <span>{{ transaction.responseDetailsComviva }}</span>
                    </dd>
                </div>
                <div class="col-3">

                    <dt><span>Reference Id</span></dt>
                    <dd>
                        <span>{{ transaction.referenceId }}</span>
                    </dd>
                </div>
                <div class="col-3">

                    <dt><span>Operation Name</span></dt>
                    <dd>
                        <span>{{ transaction.operationName }}</span>
                    </dd>
                </div>
            </div>


            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
        </div>
    </div>
</div>
