<div>
    <h2 id="page-heading">
        <span>Transactions</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-6"></div>
        <div [hidden]="hideMo" class="col-6 alert alert-warning" role="alert">
            Le nombre total de transactions est trop volumineux, veuillez faire une recherche entre 2 dates
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group col-10">
                    <input type="text" class="form-control col-4" [(ngModel)]="keyword"
                        id="keyword" name="keyword" placeholder="Rechercher Reference avec le numèro">
                    &nbsp;
                    <div   class="col-2">
                        <small style="display: inline; position: absolute; margin-top: -20px; ">Trans. Type</small>
                        <select  class="form-control" [(ngModel)]="transType" name="transType">
                            <option value="01">ATM</option>
                            <option value="00">Payment Marchand</option>
                        </select>
                    </div>
                    &nbsp;
                    <div  class="col-2">
                        <small style="display: inline; position: absolute; margin-top: -20px; ">status</small>
                        <select  class="form-control"   [(ngModel)]="status" name="status">
                            <option value="INITIATED">INITIATED</option>
                            <option value="SUCCEEDED">SUCCEEDED</option>
                            <option value="FAILED">FAILED</option>
                            <option value="NOT INITIATED">NOT INITIATED</option>
                        </select>
                    </div>

                    &nbsp;
                    <input type="text" onfocus="(this.type='date')" class="form-control col-3" [(ngModel)]="debut"
                       id="debut" name="debut" placeholder="De:   dd/MM/yyyy">
                    &nbsp;
                    <input type="text" onfocus="(this.type='date')" class="form-control col-3" [(ngModel)]="fin"
                       id="fin" name="fin" placeholder="A:   dd/MM/yyyy">

                    <button class="btn btn-info" (click)="search()">
                        <span class="fa fa-search"></span>Rechercher
                    </button>
                    <button class="btn btn-danger" (click)="clear()">
                        <span class=""></span>Reset
                    </button>
                    <!--button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="isSet()">
                        <span class="fa fa-trash-o"></span>Annuler
                    </button-->
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
        <span>No transactions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="transactions && transactions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col" jhiSortBy="id"><span>ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="transactionId"><span>Trans. Id</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="transactionType"><span>Trans. Type</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="transactionDate"><span>Trans. Date</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="transactionAmount"><span>Trans. Amount</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <!--                    <th scope="col"  jhiSortBy="transactionData"><span>Transaction Data</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col" jhiSortBy="reference"><span>Reference</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="responseStatusComviva"><span>Resp. Status</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="responseDetailsComviva"><span>Resp. Details</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="referenceId"><span>Reference Id</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="operationName"><span>Operation</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col">
                        <i class="fa fa-download" aria-hidden="true" >Report</i>
                        <button class="btn btn-success" height="12px" (click)="generateReport()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-spreadsheet-fill" viewBox="0 0 16 16">
                                <path d="M12 0H4a2 2 0 0 0-2 2v4h12V2a2 2 0 0 0-2-2zm2 7h-4v2h4V7zm0 3h-4v2h4v-2zm0 3h-4v3h2a2 2 0 0 0 2-2v-1zm-5 3v-3H6v3h3zm-4 0v-3H2v1a2 2 0 0 0 2 2h1zm-3-4h3v-2H2v2zm0-3h3V7H2v2zm4 0V7h3v2H6zm0 1h3v2H6v-2z"/>
                            </svg>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                    <td><a [routerLink]="['/transaction', transaction.id, 'view']">{{ transaction.id }}</a></td>
                    <td>{{ transaction.transactionId }}</td>
                    <td [ngSwitch]="transaction.transactionType">
                        <span *ngSwitchCase="00">Payment Marchand</span>
                        <span *ngSwitchCase="01">ATM</span>
                        <span *ngSwitchDefault></span>
                    </td>
                    <td>{{ transaction.transactionDate | date:'yyyy-MM-dd hh:mm:ss.SSS' }}</td>
                    <td>{{ transaction.transactionAmount }}</td>
                    <!--                    <td>{{ transaction.transactionData }}</td>-->
                    <td>{{ transaction.reference }}</td>
                    <td>{{ transaction.responseStatusComviva }}</td>
                    <td>{{ transaction.responseDetailsComviva }}</td>
                    <td>{{ transaction.referenceId }}</td>
                    <td>{{ transaction.operationName }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/transaction', transaction.id, 'view']"
                                class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">Details</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="transactions && transactions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="searchOrLoadAll($event)"></ngb-pagination>
        </div>
    </div>
</div>
