<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="myUserLabel">
                Initiation Activation Carte
            </h2>

            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <div class="form-group">
                <label class="form-control-label">Numéro de Téléphone</label>
                <input type="text" class="form-control" name="phoneNumber"
                       formControlName="phoneNumber" jhiNumbersOnly>

                <div
                    *ngIf="editForm.get('phoneNumber')!.invalid && (editForm.get('phoneNumber')!.dirty || editForm.get('phoneNumber')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('cardNumber')?.errors?.required">
                        Ce champ est obligatoire.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label">Code Pin</label>
                <input type="text" class="form-control" name="pinCode"
                       formControlName="pinCode" jhiNumbersOnly>

                <div
                    *ngIf="editForm.get('pinCode')!.invalid && (editForm.get('pinCode')!.dirty || editForm.get('pinCode')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('pinCode')?.errors?.required">
                        Ce champ est obligatoire.
                    </small>
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('pinCode')?.errors?.maxlength">
                        Ce champ doit avoir 4 caractères au maximum.
                    </small>

                    <small class="form-text text-danger"
                           *ngIf="editForm.get('pinCode')?.errors?.minlength">
                        Ce champ doit avoir 4 caractères au minimum.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label">Numéro de Carte</label>
                <input type="text" class="form-control" name="cardNumber"
                       formControlName="cardNumber" jhiNumbersOnly>

                <div
                    *ngIf="editForm.get('cardNumber')!.invalid && (editForm.get('cardNumber')!.dirty || editForm.get('cardNumber')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('cardNumber')?.errors?.required">
                        Ce champ est obligatoire.
                    </small>
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('cardNumber')?.errors?.maxlength">
                        Ce champ doit avoir 16 caractères au maximum.
                    </small>

                    <small class="form-text text-danger"
                           *ngIf="editForm.get('cardNumber')?.errors?.minlength">
                        Ce champ doit avoir 16 caractères au minimum.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" class="btn btn-secondary" (click)="cancel()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
