<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span class="navbar-title">COMPANION CARD</span> <span class="navbar-version"></span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span>ACCUEIL</span>
                    </span>
                </a>
            </li>

            <!-- MENU LISTE DES CARTES -->
             <li *jhiHasAnyAuthority="['ROLE_G_COMPANION_MFS_ADMINS','ROLE_G_COMPANION_MFS_READONLY']" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="customer-card" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>LISTE DES CARTES</span>
                    </span>
                </a>
            </li>

            <!-- MENU ACTIVATION CARTE
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="activate-card" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>ACTIVATION CARTE</span>
                    </span>
                </a>
            </li>-->

            <!-- MENU TRANSACTION -->
            <!--li *jhiHasAnyAuthority="['ROLE_G_COMPANION_MFS_ADMINS','ROLE_G_COMPANION_MFS_READONLY']" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="transaction" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>TRANSACTIONS</span>
                    </span>
                </a>
            </li-->

            <!---->

            <li *jhiHasAnyAuthority="['ROLE_G_COMPANION_MFS_ADMINS','ROLE_G_COMPANION_MFS_READONLY']" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span>
                        <span>
                            <fa-icon icon="th-list"></fa-icon>
                            TRANSACTIONS
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li>
                        <a class="dropdown-item" routerLink="transaction" routerLinkActive="active" (click)="collapseNavbar()">
                            <span>Liste transactions</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLink="journal" id="login">
                            <fa-icon icon="th-list"></fa-icon>
                            <span>Logs</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!---->

			<!-- MENU LISTE DES API -->
			<!-- <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                           <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>API</span>
                    </span>
                        </a>
            </li> -->
            <!-- MENU COMPTE -->
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span *ngIf="!getImageUrl()">
                        <fa-icon icon="user"></fa-icon>
                        <span>
                            COMPTE
                        </span>
                    </span>
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li hidden="true" *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                            <span>Paramétrage</span>
                        </a>
                    </li>

                    <li hidden="true" *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                            <span>Mot de passe</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                            <span>Déconnexion</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                            <span>Connexion</span>
                        </a>
                    </li>
                </ul>
            </li>




        </ul>
    </div>
</nav>
