<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customerCard">
            <h2><span>Customer Card</span> {{ customerCard.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Customer Msisdn</span></dt>
                <dd>
                    <span>{{ customerCard.customerMsisdn }}</span>
                </dd>
                <dt><span>Customer Reference</span></dt>
                <dd>
                    <span>{{ customerCard.customerReference }}</span>
                </dd>
                <dt><span>Customer First Name</span></dt>
                <dd>
                    <span>{{ customerCard.customerFirstName }}</span>
                </dd>
                <dt><span>Customer Last Name</span></dt>
                <dd>
                    <span>{{ customerCard.customerLastName }}</span>
                </dd>
                <dt><span>Card Number</span></dt>
                <dd>
                    <span>{{ customerCard.cardNumber }}</span>
                </dd>
                <dt><span>Valid Date</span></dt>
                <dd>
                    <span>{{ customerCard.validDate }}</span>
                </dd>
                <dt><span>Expiry Date</span></dt>
                <dd>
                    <span>{{ customerCard.expiryDate }}</span>
                </dd>
                <dt><span>Card Type</span></dt>
                <dd>
                    <span>{{ customerCard.cardType }}</span>
                </dd>
                <dt><span>Card Status</span></dt>
                <dd>
                    <span>{{ customerCard.cardStatus }}</span>
                </dd>
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{ customerCard.creationDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-card', customerCard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
