<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-customer-card-heading">Create or edit a Customer Card</h2>
<div [hidden]="showAlert">
    <div class="alert alert-danger" role="alert">
        Card not found
    </div>
</div>

            <div>



                <div class="row" [hidden]="!editForm.get('id')!.value">
                    <div class="col-1">ID</div> <input type="text" class="col-9 form-control" id="id" name="id"
                        formControlName="id" readonly />
                </div> <br>
                <div class="row">
                    <label class="form-control-label col-1" for="field_creationDate">Creation Date</label>
                    <div class="d-flex col-9">
                        <input id="field_creationDate" type="datetime-local" class="form-control" readonly
                            name="creationDate" formControlName="creationDate" placeholder="YYYY-MM-DD HH:mm" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="form-control-label col-1" for="field_customerMsisdn"> Msisdn</label>
                    <input type="text" class="form-control col-9" name="customerMsisdn" id="field_customerMsisdn"
                        readonly formControlName="customerMsisdn" />
                </div>

                <div class="form-group row">
                    <label class="form-control-label col-1" for="field_customerReference"> Reference</label>
                    <input type="text" class="form-control col-9" name="customerReference" id="field_customerReference"
                        readonly formControlName="customerReference" />
                </div>

                <div class="form-group row">
                    <label class="form-control-label col-1" for="field_customerFirstName"> First Name</label>
                    <input type="text" class="form-control col-9" name="customerFirstName" id="field_customerFirstName"
                        readonly formControlName="customerFirstName" />
                </div>

                <div class="form-group row">
                    <label class="form-control-label col-1" for="field_customerLastName"> Last Name</label>
                    <input type="text" class="form-control col-9" name="customerLastName" id="field_customerLastName"
                        readonly formControlName="customerLastName" />
                </div>

                <div class="form-group row">
                    <label class="form-control-label col-1" for="field_cardNumber">Card Number</label>
                    <input type="text" class="form-control col-9" name="cardNumber" id="field_cardNumber" readonly
                        formControlName="cardNumber" />
                </div>

                <div class="form-group row">
                    <label class="form-control-label col-1" for="field_validDate">Valid Date</label>
                    <div class="input-group col-9">
                        <input id="field_validDate" type="text" class="form-control" name="validDate" readonly
                            ngbDatepicker #validDateDp="ngbDatepicker" formControlName="validDate" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="validDateDp.toggle()">
                                <fa-icon icon="calendar-alt"></fa-icon>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="form-control-label col-1" for="field_expiryDate">Expiry Date</label>
                    <div class="d-flex col-9">
                        <input id="field_expiryDate" type="datetime-local" readonly class="form-control"
                            name="expiryDate" formControlName="expiryDate" placeholder="YYYY-MM-DD HH:mm" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="form-control-label col-1" for="field_cardType">Card Type</label>
                    <input type="text" class="form-control col-9" name="cardType" id="field_cardType" readonly
                        formControlName="cardType" />
                </div>

                <div class="form-group row">
                    <label class="form-control-label col-1" for="field_cardStatus">Card Status</label>
                    <span class="row col-10">
                        <input type="text" class="form-control col-9" name="cardStatus" id="field_cardStatus" readonly
                            formControlName="cardStatus" />
                        <input type="button" class="col-2" value="{{status}}" [class]="btnColor"
                            (click)=" !isStop?  openModal(template) : openModal(template2)">
                    </span>
                </div>


            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>


            </div>
        </form>
    </div>
</div>


<ng-template #template>
    <div class="modal-header">
        <div style="font-weight: bold;">
            Veuillez choisir un motif du rejet
        </div>
        <div>
            <small>
                Default: Carte perdue
            </small>
        </div>
    </div>
    <div class="modal-body row"> &nbsp;
        <select [(ngModel)]="reasonSelected"  class="form-control col-6">
            <option selected value="1">Carte Perdue</option>
            <option value="2">Carte Volee</option>
            <option value="3">Requete en attente</option>
            <option value="4">Consolidation de carte</option>
            <option value="5">Carte inactive</option>
            <option value="6">Limite essai PIN depassee</option>
            <option value="7">Risque de fraude</option>
            <option value="8">Carte remplacee</option>
        </select> &nbsp;
        <button (click)="saveStop()" class="col-3 btn btn-danger">valider<fa-icon icon="save"></fa-icon>
        </button>
        <div [hidden]="hideSp" class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>




<ng-template #template2>
    <div class="modal-header">
        <div style="font-weight: bold;">
            Voulez-vous confirmer l'activation ?
        </div>
    </div>
    <div class="modal-body row">
        <div class="col-1"></div>
        <div>

            <button (click)="saveActive()" type="submit" id="save-entity" class="btn btn-primary">
                <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
            </button>
            <div [hidden]="hideSp" class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</ng-template>
