<div class="container-fluid">
    <h2 id="page-heading">


       <!--  <button id="jh-create-entity" class="btn btn btn-danger float-right jh-create-entity create-customer-card" [routerLink]="['/customer-card/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Customer Card
            </span>
        </button> -->


         <span>Customer Cards</span>

    </h2>

	<!--  begin search -->
    <div class="row">
        <div class="col-sm-8">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text"
                           class="form-control"
                           [(ngModel)]="keyword"
                           (ngModelChange)="search()"
                           id="keyword"
                           name="keyword"
                           placeholder="Enter a keyword">
                    <button class="btn btn-info" (click)="search()">
                        <span class="fa fa-search"></span>Rechercher
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--  end search -->
    <br>
    <div class="alert alert-warning" id="no-result" *ngIf="customerCards?.length === 0">
        <span>No customer-card found</span>
    </div>

  <h4>
  <div class="row" *jhiHasAnyAuthority="['ROLE_G_COMPANION_MFS_ADMINS']">
       <div hidden="true" class="col-md-12 bg-light text-left">
	     <button  id="sus" class="btn btn-primary" (click)="suspendre()"  [disabled] ="!isOneElementCheked()" >
	           <!--  <fa-icon icon="asterisk"></fa-icon> -->
	            <span>
	            Suspendre
	            </span>
	      </button>

           <!--<button type="submit" id="act" class="btn btn-success" (click)="activer()" [disabled] ="!isOneElementCheked()">
                   <fa-icon icon="asterisk"></fa-icon>
	            <span>
	            Activer
	            </span>
	      </button>-->


	     <button type="submit" id="sup" class="btn btn-danger" (click)="supprimer()" [disabled] ="!isOneElementCheked()">
	           <!--  <fa-icon icon="close"></fa-icon> -->
	            <span>
	            Supprimer
	            </span>
	      </button>
       </div>
  </div>
  </h4>
    <jhi-alert-error></jhi-alert-error>

    <div [hidden]="hide1" class="alert alert-success" role="alert">
        {{message}}
    </div>
    <div [hidden]="hide2" class="alert alert-success" role="alert">
        {{message}}
    </div>
    <!-- ROLE_G_COMPANION_MFS_ADMINS -->
    <div class="table-responsive" id="entities" *ngIf="customerCards && customerCards.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th hidden="true" scope="col" *jhiHasAnyAuthority="['ROLE_G_COMPANION_MFS_ADMINS']" jhiSortBy="id"><span></span> <fa-icon icon="sort"></fa-icon></th>
                     <!-- <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <th scope="col" ><span>Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" ><span>Reference</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cardNumber"><span>Card Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cardNumber"><span>Tracking Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" ><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" ><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="validDate"><span>Valid Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creationDate"><span>Creation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cardType"><span>Card Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cardStatus"><span>Card Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="expiryDate"><span>Expiry Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customerCard of customerCards ;trackBy: trackId">
				    <td hidden="true" *jhiHasAnyAuthority="['ROLE_G_COMPANION_MFS_ADMINS']">
                          <input type="checkbox"
				      			 name="customerCards"
				      			 value="{{ customerCard.id }}"
				      			 [(ngModel)]="customerCard.isSelected"
				      			 />
                    </td>
                    <!-- <td>
                        <a [routerLink]="['/customer-card', customerCard.id, 'view']">{{ customerCard.id }}</a>
                    </td> -->
                    <td>{{ customerCard.customerMsisdn }}</td>
                    <td>{{ customerCard.customerReference }}</td>
                    <td>{{ customerCard.cardNumber }}</td>
                    <td>{{ customerCard.trackingNumber}}</td>
                    <td>{{ customerCard.customerFirstName }}</td>
                    <td>{{ customerCard.customerLastName }}</td>
                    <td>{{ customerCard.validDate | date:'yyyy-MM-dd hh:mm:ss.SSS' }}</td>
                    <td>{{ customerCard.creationDate | date:'yyyy-MM-dd hh:mm:ss.SSS' }}</td>
                    <td>{{ customerCard.cardType }}</td>
                    <td>{{ customerCard.cardStatus }}</td>
                    <td>{{ customerCard.expiryDate | date:'yyyy-MM-dd hh:mm:ss.SSS' }}</td>
                    <td  *jhiHasAnyAuthority="['ROLE_G_COMPANION_MFS_ADMINS']">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/customer-card', customerCard.id, 'edit']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">Traiter</span>
                            </button>

                           <!--    <button type="submit"
                                    [routerLink]="['/customer-card', customerCard.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                               </button>

                            <button type="submit" (click)="delete(customerCard)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="customerCards && customerCards.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
