<div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Bienvenu(e), Free Companion Card</h1>

        

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">Vous êtes connectés en tant qu'utilisateur "{{ account.login }}".</span>
            </div>
        </div>
    </div>
</div>
